{% extends "@FOSUser/layout.html.twig" %}

{%  block title %} Modification profile {{ parent() }} {% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% include "@FOSUser/Profile/edit_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
