{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-lg-3 col-5"><!--left col-->
        <div class="text-center">
            <img src="{{ asset(user.image) }}" class="avatar img-circle img-thumbnail" alt="imgUser">
        </div>
        <br/>

        <ul class="list-group">
            <li class="list-group-item text-muted">Activités <i class="fa fa-dashboard fa-1x pull-right"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> {{ user.articles.count }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Commentaires</strong></span> {{ user.comments.count }}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Points</strong></span> ?</li>
        </ul>

    </div><!--/col-3-->
    <div class="col-lg-9 col-7">
        <div class="row">
            <div class="col-12">
                <h1>{{ user.username }}</h1>
            </div>

            <div class="col-lg-6 col-12">
                <h5>Prénom</h5>
                <p>{{ user.firstname }}</p>
            </div>
            <div class="col-lg-6 col-12">
                <h5>Nom</h5>
                <p>{{ user.lastname }}</p>
            </div>
            <div class="col-lg-6 col-12">
                <h5>Email</h5>
                <p>{{ user.email }}</p>
            </div>
            <div class="col-lg-6 col-12">
                <a href="{{ path('fos_user_profile_edit') }}"><button class="btn btn-outline-warning">Modifier <i class="fa fa-edit"></i></button></a>
                <a href="{{ path('fos_user_change_password') }}"><button class="btn btn-outline-warning">Modifier son mot de passe <i class="fa fa-edit"></i></button></a>
            </div>
            <div class="col-lg-6 col-12">
                <a href="#"><button class="btn btn-outline-danger">Supprimer son compte <i class="fa fa-trash"></i></button></a>
            </div>
        </div>
    </div><!--/col-9-->
</div><!--/row-->
<br/>