{% trans_default_domain 'FOSUserBundle' %}

<form class="form-group" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="Nom d'utilisateur ou adresse email" required="required" />
    </div>
    <div>
        <br>
        <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
