{% extends "@FOSUser/layout.html.twig" %}

{%  block title %} Réinitialisation {{ parent() }} {% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Réinitialisation de mot de passe</h1>
                {% include "@FOSUser/Resetting/request_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
