{% extends "@FOSUser/layout.html.twig" %}

{%  block title %} Mot de passe oublié  {{ parent() }} {% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
