{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.email)  }}
    {{ form_row(form.username)  }}
    {{ form_row(form.firstname)  }}
    {{ form_row(form.lastname)  }}
    {{ form_row(form.birthday)  }}
    {{ form_row(form.plainPassword)  }}
    {{ form_row(form.recaptcha)  }}
    {{ form_row(form.submit)  }}
{{ form_end(form) }}
