{% extends "base.html.twig" %}
{%  block title %} Administration {{ parent() }} {% endblock %}
{% block body %}
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>Utilisateurs :</h3>
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr><th>#</th><th></th><th>Nom d'utilisateur</th><th>Email</th><th>Prénom</th><th>Nom</th><th>Anniversaire</th><th>Role</th></tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td><img style="max-width: 50px;" src="{{ asset(user.image) }}" > </td>
                            <td>{{ user.username }}</td>
                            <td> {{ user.email }}</td>
                            <td> {{ user.firstname }}</td>
                            <td> {{ user.lastname }}</td>
                            <td> {{ user.birthday|date('d/m/y') }}</td>
                            <td> {% for role in user.roles %} {{ role }} {% endfor %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}