{% extends "base.html.twig" %}
{%  block title %} {{ article.title }} {{ parent() }} {% endblock %}
{% block body %}
    <div class="container single-page blog-page">
        <div class="row">
            {#<div>
                <a class="" href="{{ path('app_home') }}#}{##{{ article.id }}#}{#"><i class="fa fa-chevron-left"></i> Retour</a>
            </div>#}
            <div class="col-12">
                <div class="content-wrap">
                    <header class="entry-header">
                        <div class="posted-date">
                            {{ article.date|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y')  }}
                        </div><!-- .posted-date -->

                        <h2 class="entry-title">{{ article.title }}</h2>

                        {% if article.tags %}
                            <div class="tags-links">
                                {% for tag in article.tags %}
                                    <a href="#">#{{ tag }}</a>
                                {% endfor %}
                            </div><!-- .tags-links -->
                        {% endif %}

                    </header><!-- .entry-header -->

                    <figure class="featured-image">
                        <img src="{{ asset(article.image) }}" alt="imgArticle">
                    </figure><!-- .featured-image -->

                    <div class="entry-content">
                        {{ article.content|raw }}
                    </div><!-- .entry-content -->

                    <div class="entry-content row">
                        <div class="col-12">
                            {% if is_granted('ROLE_USER') %}
                                <button class="btn pull-right btnLike">J'aime <i class="fa fa-book"></i></button>
                            {% else %}
                                <button class="btn btn-outline-primary pull-right btnLike" disabled>J'aime <i class="fa fa-book"></i></button>
                            {% endif %}
                        </div>
                    </div>

                    {% if (article.book) %}
                        <div class="flex justify-content-between">
                            <figure class="comment-author-avatar">
                                <img src="{{ asset(article.book.image) }}" class="img-thumbnail img-book" alt="imgBook">
                                {#<img src="" alt="imgLivre">#}
                                <p>{% for i in 1..5 %}
                                        {% if article.book.rate >= i %}
                                            <i class="fa fa-star"></i>
                                        {% else %}
                                            <i class="fa fa-star-o"></i>
                                        {% endif %}
                                    {% endfor %}</p>
                            </figure><!-- .comment-author-avatar -->

                            <div class="comment-wrap">
                                <div class="flex flex-wrap align-items-center">
                                    {{ article.book.title }} de {{ article.book.author.name }}
                                </div><!-- .comment-author -->

                                <p class="text-lg-left">{{ article.book.abstract }}</p>
                            </div><!-- .comment-wrap -->
                        </div><!-- .comment-body -->
                    {% endif %}
                </div><!-- .content-wrap -->

                <div class="content-area">
                    <div class="post-comments">
                        <h3 class="comments-title">Commentaires :</h3>
                        {% if article.comment|length > 0 %}
                            <ol class="comment-list">
                                {% for comment in article.comment|reverse %}
                                    {{ include('front/comment_template.html.twig') }}
                                {% endfor %}
                            </ol><!-- .comment-list -->
                        {% else %}
                            <p>Aucun commentaire</p>
                        {% endif %}
                    </div><!-- .post-comments -->


                    <div class="comments-form">
                        {% if app.user %}
                            <div class="comment-respond">
                                <h3 class="comment-reply-title"> Laisser un commentaire </h3>
                                {{ include('front/comment_form.html.twig', {'form': form}) }}
                            </div><!-- .comment-respond -->
                        {% else %}
                            <p><i class="fa fa-exclamation-triangle"></i> Il faut être <a href="{{ path('fos_user_security_login') }}">connecté(e)</a> pour laisser un commentaire</p>
                        {% endif %}
                    </div><!-- .comments-form -->
                </div><!-- .content-area -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type='text/javascript'>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url : {{ "'" }}{{ path('app_article_is_like', {'id': article.id}) }}{{ "'" }},
                success: function (data) {
                    if(data === 'Liked') {
                        $('.btnLike')
                            .addClass('btn-outline-danger')
                            .html('Je n\'aime plus <i class="fa fa-book"></i> ({{ article.getUser().count() }})');
                    } else {
                        $('.btnLike')
                            .addClass('btn-outline-primary')
                            .html('J\'aime <i class="fa fa-book"></i> ({{ article.getUser().count() }})');
                    }
                }
            });
            $('.btnLike').click(function(){
                $.ajax({
                    type: "POST",
                    url: {{ "'" }}{{ path('app_article_like', {'id': article.id}) }}{{ "'" }},
                    data: {req: $(this).attr('class')},
                    success: function () {
                        //troisieme call
                        $.ajax({
                            type: "POST",
                            url : {{ "'" }}{{ path('app_article_is_like', {'id': article.id}) }}{{ "'" }},
                            success: function (data) {
                                if(data === 'Liked') {
                                    $('.btnLike')
                                        .removeClass('btn-outline-primary')
                                        .addClass('btn-outline-danger')
                                        .html('Je n\'aime plus <i class="fa fa-book"></i>');
                                } else {
                                    $('.btnLike')
                                        .removeClass('btn-outline-danger')
                                        .addClass('btn-outline-primary')
                                        .html('J\'aime <i class="fa fa-book"></i>');
                                }
                            }
                        });
                        //deuxieme call
                        $.ajax({{ "'" }} {{ path('app_article_get_like', {'id': article.id}) }} {{ "'" }}, {
                            success: function (data) {
                                $('.btnLike').append(' ('+data+')');
                            }
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}