{% extends "base.html.twig" %}
{%  block title %} Accueil {{ parent() }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="swiper-container hero-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="hero-content flex justify-content-center align-items-center flex-column">
                                <img src="{{ asset('assets/images/slider.jpg') }}" alt="">
                            </div><!-- .hero-content -->
                        </div><!-- .swiper-slide -->

                        {#
                        <div class="swiper-slide">
                            <div class="hero-content flex justify-content-center align-items-center flex-column">
                                <img src="{{ asset('assets/images/slider.jpg') }}" alt="">
                            </div><!-- .hero-content -->
                        </div><!-- .swiper-slide -->

                        <div class="swiper-slide">
                            <div class="hero-content flex justify-content-center align-items-center flex-column">
                                <img src="{{ asset('assets/images/slider.jpg') }}" alt="">
                            </div><!-- .hero-content -->
                        </div><!-- .swiper-slide -->
                        #}
                    </div><!-- .swiper-wrapper -->

                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- Add Arrows -->
                    <div class="swiper-button-next flex justify-content-center align-items-center">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></path></svg></span>
                    </div>
                    <div class="swiper-button-prev flex justify-content-center align-items-center">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></path></svg></span>
                    </div>
                </div><!-- .swiper-container -->
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="container">
            <div class="row">
                <div class="offset-lg-9 col-12 col-lg-3">
                    <div class="yt-subscribe">
                        <img src="{{ asset('assets/images/profile.png')}}" alt="Youtube Subscribe">
                        <h3>Moi c'est Ju'!</h3>
                        <div class="header-bar-email d-none d-lg-block">
                            <a href="mailto:pro@jubouquine.com"><i class="fa fa-envelope"></i> pro@jubouquine.com</a>
                        </div>
                        <div class="header-bar-email d-none d-lg-block">
                            <a href="https://www.instagram.com/juu_bouquine/"><i class="fa fa-instagram"></i> Instagram</a>
                        </div>
                    </div><!-- .yt-subscribe -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .hero-section -->
    <div class="container single-page">
        <div class="row">

            {#Articles#}
            <div class="col-12 col-lg-9">
                {{ include('front/articles.html.twig') }}
            </div>


            <div class="col-12 col-lg-3">
                <div class="sidebar">
                    <div class="about-me">
                        <h2>A mon propos</h2>
                        <p>
                            Bienvenue à toi qui viens de tomber sur cette page par hasard (ou non). Je m'appelle Justine et voici ma petite (grande ?) boite à livres dans laquelle tu pourras
                            découvrir mes différentes lectures. Ne me juge pas trop brutalement, c'est un nouveau défi que je me lance au sein du monde merveilleux du blog littéraire.
                            J'espère en tout cas que ce que tu trouveras te plaira et t'aidera à trouver ta ou tes prochaines lectures !
                        </p>
                    </div><!-- .about-me -->

                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalBody" class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <!-- return to top button -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script type='text/javascript' src="{{ asset('assets/js/admin.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/scroll.js') }}"></script>
{% endblock %}