{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.title) }}
{{ form_row(form.content) }}
{{ form_row(form.image) }}
<div class="form-group">
    <label for="tags-list">Tags</label>
    <div id="tags-list" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}" data-widget-tags="{{ '<div class="tagInput input-group mb-3"></div>'|e }}">
        {% for tagField in form.tags %}
            {{ form_errors(tagField) }}
            <div class="tagInput input-group mb-3">
                {{ form_widget(tagField) }}
            </div>
        {% endfor %}
    </div>
</div>

<div class="form-group">
    <button type="button" class="btn btn-outline-primary addTag" data-list="#tags-list">+ tag</button>
</div>
{{ form_row(form.book) }}
{{ form_end(form) }}

<script src="{{ asset('assets/js/add-collection-widget.js') }}"></script>