<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %} - Ju' bouquine{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/swiper.min.css') }}">

    <!-- StarRatingBundle CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/starrating/css/rating.css') }}" />

    <!-- datatables CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/DataTables/datatables.min.css') }}"/>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
<div class="outer-container">
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-branding flex flex-column align-items-center">
                        <h1 class="site-title"><a href="{{ path('app_home') }}" rel="home">Ju'bouquine</a></h1>
                        <p class="site-description">Blog littéraire</p>
                    </div><!-- .site-branding -->

                    <nav class="site-navigation">
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->

                        <ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
                            <li class="{{ app.request.get('_route') == 'app_home' ? 'current-menu-item' }}"><a href="{{ path('app_home') }}">Accueil</a></li>
                            <li class="{{ app.request.get('_route') == 'app_book_all' ? 'current-menu-item' }}"><a href="{{ path('app_book_all') }}">Livres</a></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="{{ app.request.get('_route') == 'app_admin' ? 'current-menu-item' }}"><a href="{{ path('app_admin') }}">Administration</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <li class="{{ app.request.get('_route') == 'fos_user_profile_show' ? 'current-menu-item' }}"><a href="{{ path('fos_user_profile_show', {'id' : app.user.id}) }}">{{ app.user.username }}</a></li>
                                <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                            {% else %}
                                <li class="{{ app.request.get('_route') == 'fos_user_security_login' ? 'current-menu-item' }}"><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                            {% endif %}
                        </ul>
                    </nav><!-- .site-navigation -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </header><!-- .site-header -->
    <div class="container">
        {% include('_flashes.html.twig') %}
    </div>
    {% block body %}
    {% endblock %}

</div><!-- .outer-container -->

<div class="footer-bar">
    <div class="outer-container">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-12">
                    <div class="footer-copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>&copy; Jubouquine.fr {{ "now"|date("Y") }} | Made by <a href="https://colorlib.com" target="_blank" style="color: white;">Colorlib</a></p>
                        <p><a href="{{ path('app_mentions_legales') }}" style="color: white;">Mentions légales</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div><!-- .footer-copyright -->
                </div><!-- .col-xl-4 -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .outer-container -->
</div><!-- .footer-bar -->

{% block js %}
    <script type='text/javascript' src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('assets/js/jquery.form.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('assets/js/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('assets/js/swiper.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/DataTables/datatables.min.js') }}"></script>
    <script type='text/javascript' src="{{ asset('assets/js/custom.js') }}"></script>
{% endblock %}

</body>
</html>
