{% block subject %}Ju' Bouquine - Réinitialisation de mot de passe{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Salut {{ user.username }} !

        Tu as demandé une réinitialisation de ton mot de passe.
        Tu peux le faire en cliquant juste ici : {{ confirmationUrl }}

        A très bientot,
        Ju'.
    {% endautoescape %}
{% endblock %}